@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.page {
		@apply px-2 sm:px-5 md:px-10 md:pt-10;
	}
	.svg-img {
		@apply h-5;
	}
	input,
	textarea {
		@apply p-2 border-[.5px] bg-transparent focus:outline-none focus:border-gray-400 my-3 rounded-md bg-secondary focus:bg-transparent;
	}
	textarea {
		resize: none;
	}
}
body {
	@apply bg-primary text-white font-[poppins];
}
.gradient-spin {
	background-size: 300% 300%;
	animation: gradient-spin 6s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
	text-shadow: 1em 1em;
}
@keyframes gradient-spin {
	0% {
		background-position: 10% 0%;
	}
	50% {
		background-position: 91% 100%;
	}
	100% {
		background-position: 10% 0%;
	}
}
